@charset "UTF-8";

html,body	{
	height: 100%;
	margin: 0px;
	padding: 0px;
	/*scroll-behavior: smooth; */
}

.marcador{
	border: 1px solid red; 
}


#fundoContainer{
}

#inicio, #loja, #saguao, #arena{
	background-color: #fff;
	padding: 10px;
	padding-top: 60px;
}

div#arena{

}

/*
LOJA
===================================================== */

div#loja img{
	width: 100px;
}

div#saguao img{
	width: 75px;
}

/*
SAGUÃO
======================================================*/
.d-flex .item{
	background-color: #eee;
	border: 1px solid black;

	margin: 10px;
	padding: 10px;
	box-shadow: 2px 2px 2px black;
}

div#timeSaguao .item{
	width: 100%;
}

.marcadorVida{
position: relative;
color: #f00;
}
.marcadorMana{
position: relative;
color:#00f;
}

.progress{
	height: 10px;
}

.miniatura img{
	width: 70px;
}

#saguao img{
	max-height: 125px;
	animation: standing .5s infinite alternate;
}

#botoesSaguao img{
	max-width: 150px;
}

div#arena .row .col{
	height: 150px;
	width: 150px;
	border: 2px outset lightgray;
}

@keyframes standing {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0);
    }

}
