@charset "UTF-8";

html,body	{
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #000;
}

.marcador{
	border: 1px solid red; 
}


#fundoContainer{
	background-color: #000;
}

#inicio, #loja, #saguao, #arena{
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}

div#arena{

}

/*
LOJA
===================================================== */

div#loja img{
	width: 100px;
}



.marcadorVida{
position: relative;
color: #f00;
}
.marcadorMana{
position: relative;
color:#00f;
}

.progress{
	height: 10px;
}



.miniatura img{
	width: 70px;
}

#arena img{
	max-height: 125px;
	animation: standing .5s infinite alternate;
}

#botoesSaguao img{
	max-width: 150px;
}

div#arena .row .col, div#saguao .row .col {
	height: 150px;
	width: 150px;
	border: 2px outset lightgray;
}

@keyframes standing {
    from {
        transform: translateY(3px);
    }
    to {
        transform: translateY(0);
    }

}
